<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129480467221-k1k0asm46r3p1qa3ttkb0ncoorcjalcf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129480467221-k1k0asm46r3p1qa3ttkb0ncoorcjalcf</string>
	<key>API_KEY</key>
	<string>AIzaSyAot3xwo5om3GIkH50ywi4x03kg8LY5b80</string>
	<key>GCM_SENDER_ID</key>
	<string>129480467221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barnik.i2tocr</string>
	<key>PROJECT_ID</key>
	<string>i2tocr</string>
	<key>STORAGE_BUCKET</key>
	<string>i2tocr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129480467221:ios:2f7a89cfeab65c52c6bf1c</string>
</dict>
</plist>