<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can select photos to attach to reports.</string>
	<key>NSCameraUsageDescription</key>
	<string>You can take photos to document your job.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Queensha.ttf</string>
		<string>Aesthetic-Regular.ttf</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
